@media screen and (max-width:1024px){

    
    body{
        margin: 0;
        width: 100%;
        font-family: 'Lato';
    }
    
    #container{
        width: 100%;
    }
    
    header{
        width: 100%;
        position: fixed;
    }
    
    #top{
        width: 100%;
        background-color: red;  
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #logo{
        width: 313px;
        height: 80px;
    }


     /*Wyszukiwanie ----------------------------------------------------------------------------------------------*/
     form input{
        height: 40px;
        border: 0;
        margin: 0;
        background: none;
        background-color: #e5e5e5;
        width: 250px;
        display: inline-block;
    }
        
     form #search {
        border-radius: 3px 0 0 3px;
        -moz-outline: none; 
        -webkit-outline: none; 
        outline: none;
        padding: 5px 7px;
    }
   /*Wyszukiwanie ----------------------------------------------------------------------------------------------*/ 
 
   header > nav{
        width: 100%;
        background-color: rgb(39, 38, 38);   
        color: white;
    }
    
    main{
        width: 100%;
        background-image: url(../img/backgrouund.png);
    }
    
    
    #recommended{
        width: 100%;
        height: 440px;
        display: flex;
        justify-content:space-around;
        align-items:center;
        margin-top: 0px;
    }
    
    #top-h{
        padding-top: 130px;
        width: 100%;
    }
    
    #top-h h1{
        padding-top: 40px;
        padding-left:10% ;
        margin: 0;
    }
    
    #recommended h1{
        padding-top: 10px;
        padding-left: 30px;
        font-size: 40px;
        color: black;
    }
    
    .recommended-class{
        width: 300px;
        height: 320px;
        border: solid 1px rgb(224, 224, 224);
        box-shadow: 5px 20px 25px 10px rgb(224, 224, 224);
    }
    
    #main-min-photo{
        width: 300px;
        height: 200px;
        background-image: url(../test1.jpg);
    }
    
    #main-min-photo:hover{
        width: 300px;
        height: 200px;
        background-image: url(../test2.jpg);
        transition: 0.2s;
    }
    
    #main-min-description{
        width: 300px;
        height: 100px;
        word-wrap: break-word;
        overflow: auto;
        background-color: white;
    }
    
    .min-buy-button{
        border: solid 1px #cfc673;
        background-color: white;
        width: 100px;
        text-align: center;
        float: right;
        letter-spacing: 1px;
        cursor: pointer;
        font-weight: bold;
        margin-right: 5px;
    }
    
    .min-buy-button:hover{
        border: solid 1px #cfc673;
        background-color: #cfc673;
        width: 100px;
        text-align: center;
        float: right;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    
    #recommended-2{
        width: 100%;
        height: 500px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #cfc673; 
    }
    
    #aboutus{
        width: 100%;
        height: 500px;
    }
    
    #aboutus h1{
        margin: 0;
    }
    

    
    
    
    
    
    
    

}