#search-filter-bar {
    width: 100%;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(180, 180, 180);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.search-top-icons {
    width: 25px;
    margin-right: 5px;
    vertical-align: text-bottom
}

.search-filter-box {
    width: 20%;
}

#search-filter-bar input {
    width: 220px;
    height: 30px;
    padding-left: 10px;
    margin-top: 5px;
}

.search-select {
    width: 220px;
    height: 30px;
    padding-left: 10px;
    margin-top: 5px;
}


select:active,
select:hover {
    text-shadow: rgb(87, 12, 184);
}


#search-filter-bar-lower {
    width: 100%;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(180, 180, 180);
    border-left: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.filter-count{
    margin-right: 10px;
}

.filter-sort{
    margin-right: 10px;
}