#about-us{
    width: 100%;
    margin: auto;
    height: 400px;
    margin: 50px 0px 50px 0px;
}

#about-us h1{
    font-size: 40px;
    margin:0;
}

#about-us h2{
    font-size: 22px;
    padding-top: 10px;
    margin:0;
}

#about-us-center{
    width:80%;  
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: rgb(214, 212, 212) 1px solid;
    padding: 10px 10px 10px 10px;
    margin: auto;
    display: flex;
}

#about-us-left{
    width:50%;
    height: 100%;
}

#about-us-right{
    width:50%;
    height: 100%;
}
